<div style="background: #fff; padding: 2em;">
  <strong>Olá, {{ organizer }}</strong>
  <p> O usuário {{ user }}({{ email }}) se inscreveu na reunião: </p>
  <p style="color: #71c"><strong>{{ title }} - {{ date }}</strong></p>
</div>